@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body {
  height: 100%; /* Set height for the body and html */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  display: flex; /* Use flexbox to center the content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #ffffff; /* Set a white background for the body */
}

body {
  font-family: 'Roboto', sans-serif; /* Apply Roboto font */
}

.migration-container {
  max-width: 450px; /* Limit width */
  width: 100%; /* Make it responsive */
  background-color: white; /* Set form background color */
  padding: 20px; /* Add padding to the form */
  border-radius: 8px; /* Round the corners */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.migration-title {
  text-align: center; /* Center the heading */
  color: #333; /* Darker heading color */
  margin-bottom: 35px;
  margin-top: 10px;
}

.form-group {
  margin-bottom: 20px; /* Space between input groups */
  text-align: left; /* Center align the content in the form group */
}

.form-label {
  display: block; /* Make labels block elements */
  margin-bottom: 8px; /* Add space below labels */
  color: #666; /* Lighter label color */
}

.form-input {
  width: 95%; /* Set a width for the inputs */
  padding: 10px; /* Add padding */
  border: 1px solid #ccc; /* Light border */
  border-radius: 4px; /* Round the corners */
  transition: border-color 0.3s; /* Smooth transition for border color */
  margin: 0 auto; /* Center the input horizontally */
}

.form-input:focus {
  border-color: #007bff; /* Change border color on focus */
  outline: none; /* Remove default outline */
}

.form-button {
  width: 100%; /* Full width for button */
  padding: 10px; /* Add padding */
  background-color: #007bff; /* Button color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 4px; /* Round the corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for background color */
  margin-top: 10px;
  margin-bottom: 5px;
}

.form-button:hover {
  background-color: #0056b3; /* Darker button color on hover */
}

.migration-message {
  text-align: center; /* Center the message */
  color: #007bff; /* Message color */
}
